@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables";
@import "functions";

* {
    // outline: 0.5px solid yellow;
}

.navbar {
    color: $primary;
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    background-color: $dark;
    color: $light;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .footer-left {
        column-span: 1;
        @include flexBox;
        // background-color: red;
    }

    .footer-right {
        grid-column-end: span 4;

        .footer-right-top {
            padding: 1rem;

            h2 {
                @include font($fontFamily: $fontFooter, $fontSize: 2rem, $py: 0.3);
                font-weight: 600;
            }

            p {
                @include font($fontSize: 0.9rem, $py: 0.5rem);
                color: rgba(199, 199, 199, 0.487);
            }

            .links {
                margin-bottom: 2.5rem;
                margin-top: 2rem;
                @include font($fontFamily: $fontFooter, $fontSize: 1rem, $py: 0.5rem);
                @include flexBox($justifyContent: flex-start, $cGap: 3.5rem);
                font-weight: bold;
            }
        }

        .footer-right-bottom {

            .bar {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                align-items: center;


                h1 {
                    @include font($fontFamily: $fontFooter, $fontSize: 1.25rem, $py: 0.5rem);
                    text-transform: uppercase;
                    color: $primary;
                    font-weight: bold;
                }

                span {
                    grid-column-end: span 4;
                    height: 0.3rem;
                    width: 80%;
                    border-radius: 10px;
                    background-color: rgba(199, 199, 199, 0.487);
                }
            }

            .contact-links {
                @include flexBox ($justifyContent: flex-start, $cGap: 2rem);
                // padding-left: 1rem;
                padding-top: 0.5rem;

                .contact-icons {
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: rgba(199, 199, 199, 0.487);

                }
            }
        }
    }
}


// @media only screen and (max-width: 1250px) {

// }

@media only screen and (max-width: 1250px) {
    // .nav {}

    footer {
        padding:2rem 4rem ;
        grid-template-columns: repeat(5, 1fr);

        .footer-left {
            column-span: 0;
            display: none;
       
        }

        .footer-right {
            grid-column-end: span 5;

            .footer-right-bottom{

                .contact-links {
                    @include flexBox ($cGap: 2rem);
                }
            }

        }
    }
}


//  media

@media only screen and (max-width: 650px) {
    // .nav {}

    footer {
        grid-template-columns: repeat(5, 1fr);
        text-align: center;

        .footer-left {
            column-span: 0;
            display: none;
            // @include flexBox;
            // background-color: red;
        }

        .footer-right {
            grid-column-end: span 5;

            .footer-right-top {

                h2 {
                    font-size: 1.7rem;
                }

                p {

                    font-size: 0.8rem;
                }

                .links {
                    @include flexBox($flexDirection: column);
                    @include font($fontSize: 0.8rem);
                    margin-bottom: 1.5rem;
                    margin-top: 1rem;}
            }

            .footer-right-bottom {

                .bar {
                    grid-template-rows: 1fr 1fr;
                    place-items: center;
                    grid-gap: 0rem;

                    h1 {
                        grid-column-end: span 5;
                    }

                    span {
                        grid-column-end: span 5;
                        // width: 0%;
                        align-self: center;
                        align-items: center;
                    }
                }

                
            }

        }
    }
}