.course {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 10px 10px;
  box-shadow: var(--box-shadow);
  cursor: default;
  transition: all 0.1s ease;
  background-color: white;
  border-radius: 4px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  width: 70%;
}

.course:hover {
  scale: 1.01;
}

.title_container {
  display: flex;
  align-items: center;
  object-fit: contain;
}

.movie_img {
  width: 40px;
  height: 60px;
  object-fit: contain;
  margin: 0 10px;
}

.course_title {
  font-size: 20px;
  font-weight: 600;
}

.rating_container {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.star_img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.movie_rating {
  font-size: 16px;
  font-weight: 400;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-right: 30px;
  width: 20%;
}

.pricing {
  font-size: 25px;
  font-weight: 750;
  color: #f34b4c;
  width: 10%;
}

.button {
  font-size: 15px;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #fd954e 0%,
    #f96945 51%,
    #f34b4c 100%
  );
  margin: 5px;
  padding: 7px 15px;
  text-align: center;
  transition: 0.5s;
  color: rgb(36, 36, 36);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}
.button1 {
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
  padding: 7px 15px;
  text-align: center;
  transition: 0.5s;
  color: rgb(39, 39, 39);
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.374);
  border-radius: 10px;
  display: block;
  border: none;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

.textParameter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 15px;
  gap: 30px;
}
