.container {
  margin: 10px;
  align-items: flex-start;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  background-color: white;
  border-radius: 4px;
}

.website {
  min-width: 90px;
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.genre_container {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.heading {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin: 5px;
}

.genre_label {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #424242;
  margin-left: 5px;
}
.genre_input {
  accent-color: #f34543;
}
